name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  combined-checks:
    name: Checks
    runs-on: ubuntu-latest

    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-repo
        with:
          node-version: "22"

      - name: Format check
        run: pnpm fmt:check

      - name: Lint
        run: pnpm lint

      - name: Build
        run: pnpm -r build 2>&1 || { echo "Build failed. Retrying with verbose output..."; pnpm -r --workspace-concurrency=1 build; }

      - name: Typecheck
        run: pnpm typecheck

      - name: Test
        run: vitest --run

      - name: Examples
        run: pnpm examples

  # PR CHECKS

  required-collector-job:
    needs: [combined-checks]
    if: github.event_name == 'pull_request' && always()

    name: Required Checks
    runs-on: ubuntu-latest
    steps:
      - name: Check for failures
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: echo "One of the dependent jobs have failed. You may need to re-run it." && exit 1

  # END PR CHECKS
